<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Reader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Link Reader</h1>
        <p class="description">Insira uma URL e obtenha um resumo do conteúdo em poucos segundos.</p>
        <hr>
    </header>
    <main>
        
            <section class="form-section">
                <form id="urlForm" action="{{ url_for('main_controller.scrape') }}" method="post" onsubmit="showLoading()">
                    <label for="url">Digite a URL do site:</label>
                    <input type="text" id="url" name="url" required>
                    <button type="submit">Resumir</button>
                </form>
                <div id="loading" class="loading" style="display: none;">
                    Carregando...
                </div>
            </section>
            
            {% if summary %}
            <section class="result-section">
                <div class="result-div">
                    <h2>Resumo:</h2>
                    <p>{{ summary }}</p>
                </div>
                
            </section>
            {% endif %}
        </div>
    </main>

    <script>
        function showLoading() {
            document.getElementById('loading').style.display = 'block';
        }
    </script>
</body>
</html>
